body {
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
    width: 80%;
    background-size: 50vh;
    background-position: center;
	background-image: url(images/comics.png);
}

h1 {
    text-align: center;
}

h2 {
    margin: 10px 0px 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#csapat li {
    margin-bottom: 10px;
}

header, footer {
    background-color: rgba(123, 0, 0, 0.9);
    color: #fff;
    font-variant: small-caps;
    padding-top: 20px;
    overflow: auto;
}

header li a {
    font-size: 150%;
    color: #fff;
    text-decoration: none;
    float: left;
    width: calc(100% / 3);
    text-align: center;
    background-color: rgba(90, 0, 0, 0.5);
    padding: 20px;
}

header img {
    width: 7vw;
    position: fixed;
    right: 0px;
    top: 0px;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    clear: both;
}

section ul li:before {
    content: "⍟ ";
    color: rgba(200, 0, 0);;
}

footer p {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

p {
    margin-bottom: 20px;
	text-align: justify;
}

img {
    width: 25em;
	display: block;
	margin: 10px, 0px;
}

div {
	padding: 20px;
}

tr, th, td {
	border: 1px dashed #7D0C37;
}

header a:hover {
	color: gold;
	background-color: RGB(90, 0, 0);
	text-decoration: underline;
}

.bevetel {
	font-weight: bolder;
	font-style: italic;
	color: darked;
}